@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body{
   color: rgb(0, 0, 0);
   background-image: url("https://img.freepik.com/free-vector/geometric-background-japanese-style_52683-34400.jpg?w=1060&t=st=1707046761~exp=1707047361~hmac=a41602728bd01628ab20515876497737c55db61305de8ca821a472a4b93a5c5f");
   display: flex;
   justify-content: center;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin: 0;
}

.container{
   font-family: 'Protest Revolution', sans-serif;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
}

.img {
   position: absolute;
   right: 20px;
}

.checkbox{
   text-align: center;
   font-size: 60px;
   padding-left: 45px;
   margin: 0;
 }

 .bx{
   font-size: 61px;
   position: absolute;
   padding-top: 10px;
 }

 

 .early,.fclass{
   font-size: x-large;
   padding-left: 65px;
 }

 .m1,.m2{
   font-size: xx-large;
   text-align: center;
 }
 
 
 